body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #2b2b2b; /* Dark background color */
    color: #fff; /* Text color */
    font-family: 'Arial', sans-serif;
  }
  
  .calculator {
    text-align: center;
  }
  
  #display {
    width: 290px;
    margin-bottom: 10px;
    background-color: #404040; /* Darker background color for the display */
    color: #fff; /* Text color for the display */
    border: none;
    padding: 10px;
    font-size: 1.2em;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    width: 70px;
    height: 70px;
    font-size: 1.2em;
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    border: 2px solid #2980b9; /* Button border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }
  
  button:hover {
    background-color: #217dbb; /* Button background color on hover */
  }
  
  button:active {
    background-color: #1b5a82; /* Button background color on click */
    border-color: #145577; /* Button border color on click */
    color: #fff; /* Button text color on click */
  }
  